
// COLORS
$primary-color: #77dd77;
$primary-color-hover: #53f553;

$bg-light-color: #696969;
$bg-color: black;

// BASE STYLES
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: Inconsolata, sans-serif;
  background-color: $bg-color;
  color: $primary-color;
}

.content {
  height: 100vh;
  width: 100vw;
  padding: 10px;
  display: table;
}
